.product-price {
    font-size:x-large !important;
}

.product-category {
color: #656565;
}

.paymentmethods {
  margin: 20px;
}

.payment {
  display: flex;
  border-radius: 12px;
  align-items: center;
  justify-content: center;

  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.payment-icon {
  margin-right: 10px;
}

.payment:hover {
  background-color: #71B641;
  color: white;
}
