/* Estilos de las páginas */
.page-enter {
	opacity: 0;
	transform: translateX(100%);
}

.page-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: opacity 300ms ease-in, transform 300ms ease-in;
}

.page-exit {
	opacity: 1;
	transform: translateX(0);
}

.page-exit-active {
	opacity: 0;
	transform: translateX(-100%);
	transition: opacity 300ms ease-in, transform 300ms ease-in;
}