
.card-custom {
  width: 200px;
  border: gray 1px solid;
  border-radius: 10px;
  margin : 10px;
}

.card-container {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  
}