.card-title {
  color : #71B641;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
} 

.card-container {
  justify-content: center;
  margin: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  
}
.button-alquilar {
  font-size: large;
  font-weight: normal;
  margin-top: 1.5rem;
  border: black solid 2px;
  color : #71B641;
}

.button-alquilar:hover {
  background-color: #71B641;
  color: white solid 2px;
}

.card-custom {
  background-image: url('https://img.freepik.com/vector-gratis/fondo-campo-futbol-degradado_52683-67789.jpg');
  background-size: flex;  
  background-position: center;
}

.card-custom {
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.2);
  width: 200px;
  border: gray 1px solid;
  border-radius: 10px;
  margin : 10px;
  transition: all 0.3s ease-in-out;
}

.card-custom:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0,0,0,.4);
}