.headerText {
	font-weight: 400;
}

.headerText span {
	font-weight: 800;
}

.heroButton:hover {
	box-shadow: 0 0 0 2px #84cc16;
}

.searchContainer {
	background-color: #71B641;
}

.reserve-button {
    background-color: #71B641 !important;
    border: none !important
  }

.scroll-container{
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	gap: 4px; /* Espacio entre las tarjetas */
	scroll-snap-type: x mandatory;
}
.scroll-container > .Card {
	flex: 0 0 auto;
	scroll-snap-align: start;
  }

  .sportcenter-home-card{
	max-width: 18rem !important;
	scroll-snap-align: start;

  }

  .cards-container{
	scroll-snap-type: x mandatory;

  }

  .home-card-img{
	min-height: "500px" !important;
	object-fit: "cover" !important
  }