#edit{
    width: 100em; 
  }
  
#edit:hover{
    transition: transform 0.3s, filter 0.3s;
}

#edit:hover {
    transform: scale(1.1);
    filter: brightness(70%);
  }

  .hover-row:hover {
    background-color: #d1f7d1; /* Cambia el color de fondo a un verde claro */
    cursor: default; 
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
  }
 .ButtonColor{
  background-color: none;
 }

  .ContainerCard{

  }

  .CardDashboar{
    background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  width: 20rem;
  }