.text-green{
    color: #71B641;
}

.main-picture {
    width: 80vw;
    height: 80vw;
    max-width: 400px;
    max-height: 400px;
}

.main-picture img {
    object-fit: cover;
    height: 100%;
    object-position: center;
}

.card {
    /* Delete when card component is developed */
    width: 80vw;
    height: 80vw;
    max-width: 200px;
    max-height: 200px;
}

@media all and (min-width:768px){
    .main-picture {
        width: 25vw;
        height: 25vw;
        max-height: 350px;
        max-width: 350px;
    }
    .card {
        /* Delete when card component is developed */
        width: 15vw;
        height: 15vw;
        max-width: 200px;
        max-height: 200px;
    }
}

@media all and (min-width:992px){
}