.login-page {
    background-color: #e6f3ffbf;
    border: 1px none;
}

.login-page .overlap {
    position: relative;
}

.login-page .image {
    object-fit: contain;
}


.login-page .overlap-group {
    border-radius: 15px;
    height: 55px;
    position: relative;
    width: 220px;
}

.login-page .google {
    height: 50px;
    left: 7px;
    position: absolute;
    top: 3px;
    width: 50px;
}

.login-page .text-wrapper {
    color: #7c838a;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 66px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 17px;
    width: 141px;
}

.login-page .button-frame {
    border: 1px solid;
    border-color: #7c838a;
    border-radius: 15px;
    height: 55px;
    left: 0;
    position: absolute;
    top: 0;
    width: 220px;
}

.login-page .text-wrapper-2 {
    color: #b0bac3;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 26px;
    font-weight: 500;
    left: 251px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 647px;
}

.login-page .already-have-a {
    color: transparent;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 2px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 579px;
}

.login-page .span {
    color: #7c838a;
}

.login-page .text-wrapper-3 {
    color: #000000;
}

.login-page .text-wrapper-4 {
    color: #71b641;
}

.login-page .button-create-acc {
    height: 60px;
    left: 121px;
    position: absolute;
    top: 504px;
    width: 342px;
}

.login-page .div-wrapper {
    background-color: #71b641;
    border-radius: 10px;
    height: 60px;
    position: relative;
    width: 340px;
}

.login-page .text-wrapper-5 {
    color: #ffffff;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 26px;
    font-weight: 500;
    left: 70px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 10px;
    width: 215px;
}

.login-page .password-input {
    height: 95px;
    left: 0;
    position: absolute;
    top: 369px;
    width: 602px;
}

.login-page .text-wrapper-6 {
    color: #7c838a;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 2px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
}

.login-page .overlap-group-wrapper {
    height: 65px;
    left: 0;
    position: absolute;
    top: 30px;
    width: 602px;
}

.login-page .overlap-group-2 {
    border-radius: 20px;
    height: 65px;
    position: relative;
    width: 600px;
}

.login-page .text-wrapper-7 {
    color: #00000080;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 40px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 17px;
}

.login-page .input {
    background-color: #b0bac366;
    border-radius: 20px;
    height: 65px;
    left: 0;
    position: absolute;
    top: 0;
    width: 600px;
}

.login-page .email-input {
    height: 95px;
    left: 0;
    position: absolute;
    top: 234px;
    width: 602px;
}

.login-page .fullname-input {
    height: 95px;
    left: 0;
    position: absolute;
    top: 98px;
    width: 602px;
}

.login-page .title {
    color: #000000;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 26px;
    font-weight: 600;
    left: 231px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
}

.login-page .vector {
    height: 388px;
    left: 131px;
    position: absolute;
    top: 314px;
    width: 364px;
}

.login-page .ellipse {
    height: 54px;
    left: 240px;
    position: absolute;
    top: 648px;
    width: 54px;
}
